<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>Welcome to the Home Page</h1>
    <p>This is the homepage of the Django project.</p>
    
    <!-- Button to open users_list in the same tab -->
    <a href="/users_list/">
        <button>Users List</button>
       
    </a>

    <button>About us</button>
    <a href="/profile/">
    <button>profile</button></a>
</body>
</html>
