<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User List</title>
</head>
<body>
    <h1>Users in the web</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Username</th>
                <th>Email</th>
                <th>ID</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.username }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.user_id }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="3">No users found.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="/">Logout</a>
    <button onclick="window.location.href='/home/'">Back to Homepage</button> <!-- Back button -->

</body>
</html>
